.navbar-lewagon {
  justify-content: space-between;
  background: #FAF9F6;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
